extends base.pug

block content 
    h4 Update Video
    form(method="POST")
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(name="description", type="text",require , placeholder="Description", minlength=20, value=video.description)
        input(name="hashtags", type="text",require , placeholder="Hashtags, separated by comma", value=video.hashtags.join())
        input(value="Save", type="submit")